# Series

## 1. What is a Pandas Series?

        A Pandas Series is a one-dimensional labeled array capable of holding any data type such as integers, strings, floats, or even Python objects.
        
        It is similar to a list or a NumPy array but with an index (label) for each value.

In [2]:
##  Python List

l1 = [10,20,30,40,50]

l1

[10, 20, 30, 40, 50]

In [5]:
#  Numpy array

import numpy as np

array = np.array([100,200,300,400,500])

print(f" Numpy Array : {array}")

#  Converting Python List into Numpy Array

arr = np.array(l1)

print(f" Array : {arr}")

 Numpy Array : [100 200 300 400 500]
 Array : [10 20 30 40 50]

###  Note :  Here Numpy array indeing will start from Zero.  and the indxing are numbers by default

## Pandas Series

In [8]:
import pandas as pa

series = pa.Series([101,102,103,104,105])

series

0    101
1    102
2    103
3    104
4    105
dtype: int64

###  In above example the pandas series indexing is starting from Zero. By default it is numbers.

##  Series Class 

####  This class constructor will take following params like
####  pandas.Series(data=None, index=None, dtype=None, name=None, copy=None, fastpath=<no_default>)[source]



### Custom Indeing example ( using employee idno as index )

In [9]:
# Example program on passing idnos as index and names as data

import pandas as pa

employee_names = ['Ravi','Krishan','Kumar','Mohan','Naveen']

employee_idno = [101,102,103,104,105]

series = pa.Series(data=employee_names,index=employee_idno)

series

101       Ravi
102    Krishan
103      Kumar
104      Mohan
105     Naveen
dtype: object

In [10]:
# Example program passing List of dictonary as a data to Series

employee_info = [
    { "name" : "Ravi",  "salary": 125000.00 },
    { "name" : "Kumar",  "salary": 135000.00 },
    { "name" : "Mohan",  "salary": 150000.00 },
    { "name" : "Krishna",  "salary": 105000.00 },
    { "name" : "Prasad",  "salary": 100000.00 },
]

employee_idno = [101,102,103,104,105]

series = pa.Series(data=employee_info,index=employee_idno)

series

101       {'name': 'Ravi', 'salary': 125000.0}
102      {'name': 'Kumar', 'salary': 135000.0}
103      {'name': 'Mohan', 'salary': 150000.0}
104    {'name': 'Krishna', 'salary': 105000.0}
105     {'name': 'Prasad', 'salary': 100000.0}
dtype: object

### Indexing on Pandas Series

In [14]:
print(f" 1st Employee Details {series[101]}") 

print(f" 1st Employee Name {series[101]['name']}") 

print(f" 3rd Employee Salary {series[103]['salary']}")

 1st Employee Details {'name': 'Ravi', 'salary': 125000.0}
 1st Employee Name Ravi
 3rd Employee Salary 150000.0

## for loop on Pandas Series

In [16]:
# for loop example - 1

for employee in series:
    print(employee)

{'name': 'Ravi', 'salary': 125000.0}
{'name': 'Kumar', 'salary': 135000.0}
{'name': 'Mohan', 'salary': 150000.0}
{'name': 'Krishna', 'salary': 105000.0}
{'name': 'Prasad', 'salary': 100000.0}

In [20]:
# for loop example - 2

for employee in series:
    for name,salary in employee.items():
        print(name,salary)

name Ravi
salary 125000.0
name Kumar
salary 135000.0
name Mohan
salary 150000.0
name Krishna
salary 105000.0
name Prasad
salary 100000.0

In [29]:
series.shape

(5,)

### Slicing

In [31]:
series[:3]

101     {'name': 'Ravi', 'salary': 125000.0}
102    {'name': 'Kumar', 'salary': 135000.0}
103    {'name': 'Mohan', 'salary': 150000.0}
dtype: object

In [32]:
series[2:4]

103      {'name': 'Mohan', 'salary': 150000.0}
104    {'name': 'Krishna', 'salary': 105000.0}
dtype: object

In [33]:
series[::2]

101      {'name': 'Ravi', 'salary': 125000.0}
103     {'name': 'Mohan', 'salary': 150000.0}
105    {'name': 'Prasad', 'salary': 100000.0}
dtype: object

In [35]:
series[::-1]

105     {'name': 'Prasad', 'salary': 100000.0}
104    {'name': 'Krishna', 'salary': 105000.0}
103      {'name': 'Mohan', 'salary': 150000.0}
102      {'name': 'Kumar', 'salary': 135000.0}
101       {'name': 'Ravi', 'salary': 125000.0}
dtype: object

### Passing dictonary as a data to Pandas Series

In [25]:

data = {'a': 10, 'b': 20, 'c': 30}

s = pa.Series(data)

print(s)

# Note : here series index is a,b,c

print(f"\n\n\nFirst value = {s['a']}")

a    10
b    20
c    30
dtype: int64



First value = 10

## Scalar Example

In [26]:
s = pa.Series(5, index=['x', 'y', 'z'])  # fills all with 5

print(s)

x    5
y    5
z    5
dtype: int64

#### üìö 3. Attributes of a Series
        1. s.values       # Returns the data (as numpy array)
        2. s.index        # Returns the index labels
        3. s.dtype        # Data type of elements
        4. s.size         # Number of elements
        5. s.shape        # Shape (like (3,))

In [28]:
s = pa.Series(5, index=['x', 'y', 'z'])  # fills all with 5

print(s.values) # [5 5 5]
print(s.index)  # Index(['x', 'y', 'z'], dtype='object')
print(s.dtype)  # int64
print(s.size)   # 3
print(s.shape)  # (3,)

[5 5 5]
Index(['x', 'y', 'z'], dtype='object')
int64
3
(3,)

### üîÑ 5. Operations on Series

#### Arithmetic operations:

In [38]:
s = pa.Series([10, 20, 30], index=['a', 'b', 'c'])

print(s + 5)           # Adds 5 to every element

print(s * 2)           # Multiplies each by 2

a    15
b    25
c    35
dtype: int64
a    20
b    40
c    60
dtype: int64

#### With another series:

In [40]:
s1 = pa.Series([1, 2, 3], index=['a', 'b', 'c'])
s2 = pa.Series([4, 5, 6], index=['b', 'c', 'd'])
s1 + s2

a    NaN
b    6.0
c    8.0
d    NaN
dtype: float64

### Output:
    a    NaN     # only in s1
    b    6.0     # 2 + 4
    c    8.0     # 3 + 5
    d    NaN     # only in s2

#### Why NaN?
    Pandas can't perform arithmetic on indexes that don‚Äôt match in both Series. So it returns NaN (missing).

In [46]:
s = pa.Series([10, 20, 30], index=['a', 'b', 'c'])

print(s * 2)

a    20
b    40
c    60
dtype: int64

In [47]:
s[s > 15]

b    20
c    30
dtype: int64

In [45]:
s[s % 2 == 0]

a    10
b    20
c    30
dtype: int64

## üîÅ 7. Functions and Methods

Some useful ones:

    1. s.sum()
    2. s.mean()
    3. s.max()
    4. s.min()
    5. s.sort_values()
    6. s.sort_index()
    7. s.value_counts()  # count unique values
    8. s.unique()        # unique values

In [50]:
s = pa.Series([100, -20, 39, 8, 25], index=['a', 'd', 'e', 'b', 'c'])

In [54]:
print(f" Sum = {s.sum()}")
print(f" Mean = {s.mean()}")
print(f" Max = {s.max()}")
print(f" Min = {s.min()}")
print(f" Sorted Values \n{s.sort_values()})")
print(f" Sorted index  \n{s.sort_index()})")

 Sum = 152
 Mean = 30.4
 Max = 100
 Min = -20
 Sorted Values
d    -20
b      8
c     25
e     39
a    100
dtype: int64)
 Sorted index
a    100
b      8
c     25
d    -20
e     39
dtype: int64)